.data_table_section {
	display: grid;
	width: 60%;
	max-width: 90%;
	max-height: 90vh;
	background-color: #92dddd;
	border-radius: 0.3rem;
	overflow: hidden;
}

.output {
	grid-column: 2/6;
	display: grid;

	background-color: #7ecbcbde;
	border-radius: 0.3rem;
}
