@import '../../utils/variables.scss';

.bubble_style {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	@include centered;
	text-align: center;
	@include shadow;
	transition: all 100ms ease-in-out;
	&:hover {
		cursor: pointer;
		color: rgba(255, 255, 255, 0.851);
	}
}
