@import '../variables.scss';

.primary_btn {
	padding: 0.3rem 0.8rem;
	outline: none;
	border: none;
	border-radius: 3px;
	background-color: #c58d43;
	cursor: pointer;
	transition: transform 100ms ease;
	@include flexCenter(row);
	&:hover {
		color: white;
	}
	&:active {
		transform: scale(0.98);
	}
}
.bg_transparent {
	background-color: transparent;
}
