@import '../../utils/variables.scss';

.title_name {
	position: relative;
	margin: 1rem;
	font-size: clamp(0.7rem, 1vw, 1.4rem);
	color: #086b6b;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
	&::after {
		position: absolute;
		content: '';
		width: 80%;
		height: 2px;
		left: 10%;
		bottom: -10%;
		background-color: #97e6e6;
		border-radius: 50%;
		transform: scale(0);
		transition: transform 100ms ease;
	}
	&:hover {
		color: white;
	}
	&:hover::after {
		transform: scale(1);
		transform-origin: center;
	}
}
.listCss {
	@include flexCenter(column);
	li {
		list-style: none;
		line-height: 2;
		color: #a2702e;
		font-size: clamp(0.5rem, 1.5vw, 1.1rem);
		span {
			color: red;
		}
	}
}

.left,
.top,
.size,
.opacity {
	border-radius: 5px;
	@include shadow;
}

.opacity {
	grid-column: 4/5;
}
