@import '../utils/variables.scss';

.bubbleSection {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: antiquewhite;
	overflow: hidden;
	display: flex;
}

.command_wrapper {
	flex: none;
	margin: 0.5rem 0.5rem auto auto;
	padding: 0.5rem;
	@include flexCenter(column);
	z-index: 10;
}

.link_styles {
	@include link(black, crimson);
}
