@import '../../utils/variables.scss';

$bigScreenMargin: 0.5rem;
$smallScreenMargin: 0.3rem;

.form {
	padding: 0.6rem;
	margin: $bigScreenMargin;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: $bigScreenMargin;
	@include shadow;
	.button_margin {
		margin: auto $bigScreenMargin $bigScreenMargin auto;
	}
}

@media only screen and(max-width: 700px) {
	.form {
		padding: $smallScreenMargin;
		margin: $smallScreenMargin;
		.button_margin {
			margin: auto $smallScreenMargin $smallScreenMargin auto;
		}
	}
}
