@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import './components/utils/variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #086b6b;
	font-family: 'Noto Sans JP', sans-serif;
	a,
	button {
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 700;
		font-size: clamp(0.6rem, 1vw, 1.8rem);
		cursor: pointer;
	}
	a {
		@include link($labelColor, lighten($labelColor, 15%));
	}
}
